
body {
    background-color:Turquoise;
   }
   
   img {
     display: block;
       
      width: 150px;
      height:108px;
      margin-right: auto;
      margin-left: auto;
}


h1{
text-align: center;
font-family:Vladimir Script;
color:yellow;
font-size: 300 %;
  }
