
body {
background-image: url("bck6.png");
background-size:cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}
h{
font-family:CG Omega;
text-align:center;
color: black;
font-size: 65px;
}
     
p{
text-align: left;
font-family:Times new roman;
color:black;
font-size: 30px;
    font-weight: bold;
  }
iframe {
display: block;
width: 60%;
height: 600px;
margin: 0 auto;
border: 0;
}
