
body {
background-image: url("good.jpg" );
background-size:cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

     
p{
text-align: left;
font-family:Times new roman;
color:light blue;
font-size: 50px;
    font-weight: bold;
  }
